@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }

@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }

.Navbar{
    background-color: #343045;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.Navbar__links{
    padding-top: 0.7rem;
}

.Navbar__links > a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    /* font-weight: ; */
    margin: 0 1rem;
    cursor: pointer;
}

.Navbar__logo{
    font-size: 40px;
    font-weight: 800;
    color: white;
    font-palette: --Mint;
}