/* .sleep {
    margin-left: 10rem;
} */

.sleep{
    background-color: #343045;
    padding-bottom: 5rem;
}

.header {
    margin-left: 5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-weight: 450;
    /* justify-content:flex-start; */
    /* flex:0.5; */
}

.heading h2 {
    font-size: 120px;
    color: white;
    margin: 0;
    padding: 0;
}
.header img {
    margin-left: 0;
    margin-top: 4rem;
    width: 50%;
    height: 50rem;
}

.tip1 p{
   margin: 0;

}

.tip2,
.tip4 {
    display:flex;
    justify-content: center;
}

.tip3 {
    display: flex;
    justify-content: end;
    margin-right: 4rem;
}

.tips p {
    width: 40%;
    font-size: 30px;
    color: white;
}

.tips p:hover{
    font-weight: 500;
}

/* .sleep__image{
    flex: 0.5;
} */

#gd{
    margin-left: 450px
}

.all__tips{
    background-color: black;
    margin: 4rem 5rem;
    border-radius: 20px
}

.sleep__quality{
    background-color: rgb(164, 155, 155);
    width: fit-content;
    margin: auto;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

.rest{
    background: -webkit-linear-gradient(#C0B7E8, #8176AF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.takecare{
    color: white;
    font: 600;
    margin-bottom: 2rem;
}
